# Ignore all
*

# Unignore all with extension
!*.*

# Unignore all directories
!*/

# ignore all target directories
target/

### The above ignores all files without an extension and target directories